.titulo {
    font-family: Arial, sans-serif, monospace;
    background-color: #c4f900;
    color: #ecc600;
    margin: 0px;
    padding: 5px;
}

.fonte-entrelinhas {
    font-family: Arial, sans-serif, monospace;
    font-size: 30%;
}
